@keyframes slideInLeft{
    0%{
        transform: translateX(-350%);
    }
    100%{
        transform: translateX(0);
    }
}

div
{
    margin-top: 80px;
}

th{
    display: inline-flex;
    flex-wrap: wrap;
}

table th .todo-card{
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-name: slideInLeft;

    background-color: #2e85ff;
    padding-left: 50px;
    border-radius: 4px;
    padding-right: 50px;
    border-width: 2px;

} 

.todo-card:hover{
    box-shadow: 0 4px 8px #020508;
}

table th:nth-child(even) .todo-card {
    background-color: #076cf9;
    /* add other styles here */
  }

.card-title{
    font-weight: bold;
    color: black;
    font-size: medium;
}

table th:nth-child(even) .card-title{
    color: whitesmoke;
}

.card-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: black;
}

table th:nth-child(even) .card-text{
    color: white;
}

.card-button{
    margin-left: 5px;
}

.add-btn{
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-name: slideInLeft;

    background-color: #2e85ff ;
    justify-content: center;
    color: white;
    margin-inline: 30px;
}



